* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    outline: none;
    border: none;
    background-color: none;
}

body {
    background-color: #33394F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}